* {
    margin: 0;
    padding: 0;
    padding: 0px 10px 0px 10px;
    font-family: "Alkatra";
}

body {
    width: 100%;
}

content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.title {
    display: block;
    margin: 0 auto 0 auto;
    font-family: 'Delicious Handrawn';
    font-size: 3em;
    text-align: center;
}

.lettres {
    display: block;
    margin: 10px auto 10px auto;
}

.lettres .template-caractere {
    display: inline;
    padding: 10px;
    margin: 5px;
    background-color: aquamarine;
}

.entete {
}

#canvas {
    display: flex;
    flex: 2;
    max-width: 400px;
    max-height: 600px;
}

.panneau-de-saisie {
    margin: 20px;
}

.ennonce {
    font-size: larger;
    text-align: center;
}

.consigne{
    padding-top: 30px;
}

.saisie{
    margin: 5px 20px;
}

input{
    height: 40px;
    width: 40px;
    margin: 5px 20px 10px 20px;
    border-style: dashed;
    border-width: 3px;
    border-color: black;
    text-align: center;
    font-size: 25px;
}

input:invalid {
    border: red solid 3px;
}

button {
    color: cadetblue;
    border-radius: 7px;
    padding: 3px 15px;
    font-size: 20px;
}

#recommencer {
    vertical-align: center;
}

.message-desagreable {
    font-size: 64px;
    color: red;
    transform: translate(310px,60px) rotate(0.9turn);
    position: absolute;
}